$maxWidth: 1230; //макс ширина контейнера
$minWidth: 320; //мин ширина контейнера

//media
$xl: 1130;
$lg: 962;
$md: 787;
$sm: 560;
$xsm: 420;

//color
$bg: #fff;
$title-color: #fff;
$subtitle-color: #21062A;

$white: #fff;
$violet: #21062A;
$accent: #5A0D67;
$grey: #080808;
$black: #2C2B2B;

//шрифты по макету
$font-family: "Oswald";

//body
$font-size: 18px;
$font-weight: 300;
$line-height: 1.5;
$text-color: #2C2B2B;
$bg-color: #fff;

//title h1
$title-font-size: 72px;
$title-font-weight: 400;
// $title-line-height:;

//title h2
$subtitle-font-size: 36px;
$subtitle-font-weight: 400;
// $subtitle-line-height:;