$maxWidth: 1230; //макс ширина контейнера
$minWidth: 320; //мин ширина контейнера

//media
//Bootstrap Breakpoints
// $xxl: 1400px;
//$xl: 1200px;
//$lg: 992px;
//$md: 768px;
//$sm: 56px;
//$xsm: 320px;

//my Breakpoints
$xl: 1130px;
$lg: 962px;
$md: 787px;
$sm: 560px;
$xsm: 420px;

//color
$bg: #fff;
$title-color: #fff;
$subtitle-color: #21062A;

$white: #fff;
$violet: #21062a;
$accent: #5a0d67;
$grey: #c4c4c4;
$black: #2c2b2b;

//шрифты по макету
$font-family: "Oswald";

//body
$font-size: 18px;
$font-weight: 300;
$line-height: 1.5;
$text-color: #2C2B2B;
$bg-color: #fff;

//title h1
$title-font-size: 72px;
$title-font-weight: 400;
// $title-line-height:;

//title h2
$subtitle-font-size: 36px;
$subtitle-font-weight: 400;
// $subtitle-line-height:;