.header {
  background-image: url(../img/decore/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 700px;
  color: #fff;

  &__top {
    // padding: 47px 0 45px;
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  &__logo {}

  &__phone {
    font-size: 36px;
    font-weight: 400;
    // @include line-height($font-size, 53px);
  }

  &__burger {
    display: none;
  }

  &__burger-line {}

  &__content {
    padding-top: 104px;
    position: relative;
  }

  &__title {
    line-height: 1.5;
  }

  &__subtitle {
    color: #fff;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 800px;
  }

  &__btn {
    font-size: 14px;
    padding: 17px 54px;
  }

  &__social {
    padding: 70px 0 20px 65px;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: -294px;
  }
}

.social {
  display: flex;
  align-items: center;

  &__item {

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    fill: #fff;
  }

  // &__icon {}
}